# Visual Studio Code
.vscode/

# Node modules 
node_modules/

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de log
*.log

# Compiled files
/dist
/build
/out

# Dependencias de paquetes
package-lock.json
yarn.lock

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de temporales
*.tmp
*.temp
*.bak
*.swp

# Archivos de caché
.cache/
